.coin-row td{
    border: 2px solid black;
    width: 25vh;
    flex-direction: row;
}

.coin-row td.a {
    flex-direction: row;
    border: 2px solid #00FFA3;
    width: 25vh;
}

.coin-row td.b {
    flex-direction: row;
    border: 2px solid #03E1FF;
    width: 35vh;
}

.coin-row td.c {
    display: block flex;
    flex-direction: row;
    border: 2px solid #DC1FFF;
    width: 35vh;
}

.btn {
    border-radius: 5px;
    border: 2px solid #DC1FFF;
    flex-direction: row;
    background-size: 100%;
    background-repeat: repeat;
    background-image: linear-gradient(45deg, #00FFA3, #03E1FF, #DC1FFF );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}